.link-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.link-area a {
  font-size: larger;
  text-decoration: none;
}

.link-active {
  background-color: darkgray;
  padding: 10px;
  color: black;
  font-weight: 600;
}

.link-inActive {
  color: white;
}
