.navbar-container {
  background-color: darkgreen;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar-link {
  background-color: darkorange;
  margin-bottom: 100px;
  height: 70%;
  display: flex;
  justify-content: center;
}

.navbar-logout {
  background-color: darksalmon;
  height: 30%;
}
